<div class="card more-top">
  <div class="card-content">
  	<div class="more-bottom">
	    <p class="flow-text"><%= t('titles.sale.new.title') %></p>
  	</div>
		<%= render 'form', import: @import %>
	</div>
</div>